<div class="w-[10%] aspect-square pt-3 pl-3">
  <div
    #hamburgerMenu
    (click)="openNavigation(hamburgerMenu, circle)"
    class="text-red relative -ml-[5%] left-[5%]"
  >
    <div #circle></div>
    <svg
      viewBox="0 0 353.18 270.57"
      class="w-full block m-auto absolute -top-0.5 left-0.5 stroke-white stroke-[6] text-transparent"
    >
      <use xlink:href="lineart/hambuger_menu_icon.svg#id" />
    </svg>
    <svg viewBox="0 0 353.18 270.57" class="w-full block m-auto absolute">
      <use xlink:href="lineart/hambuger_menu_icon.svg#id" />
    </svg>
  </div>
</div>
