.listItem {
    @apply text-center font-bowlby_one text-orange-dark;
}

.overlay {
    @apply flex justify-center items-center fixed bg-yellow w-full h-screen 
}

.overlay-image {
    mask-image: url(/lineart/logo_background.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 150%;
    @apply bg-orange opacity-30 rotate-90 absolute w-[100vh] h-[100vw] overflow-visible;
    @apply md:rotate-0 md:w-full
}

@keyframes open {
    100% {
      @apply bg-transparent hidden;
    }
  }

.open-animation {
    animation-name: open;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}