.listItem {
    @apply text-center font-titel text-orange-dark;
    @apply xl:text-4xl
}

.overlay {
    @apply flex justify-center items-center fixed bg-yellow w-full h-screen 
}

.overlay-image {
    mask-image: url(/lineart/logo_background.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 150%;
    @apply bg-orange opacity-30 rotate-90 absolute w-[100vh] h-[100vw] overflow-visible;
    @apply xl:rotate-0 xl:w-full
}