<div class="relative overflow-hidden text-center">
  <!-- background color -->
  <div
    class="absolute bg-orange -z-20 w-full h-full rounded-md shadow-lg border border-orange-dark border-opacity-20"
  ></div>

  <!-- background image -->
  <div
    *ngIf="side; else left"
    class="absolute -bottom-10 -right-10 w-[60vw] h-[60vw] -z-10 xl:w-[20vw] xl:h-[20vw]"
  >
    <svg class="text-orange-dark -rotate-45 opacity-30 w-full h-full">
      <use [attr.xlink:href]="image" />
    </svg>
  </div>

  <ng-template #left>
    <div class="absolute -bottom-10 -left-10 w-[60vw] h-[60vw] -z-10 xl:w-[20vw] xl:h-[20vw]">
      <svg class="text-orange-dark rotate-45 opacity-30 w-full h-full">
        <use [attr.xlink:href]="image" />
      </svg>
    </div>
  </ng-template>

  <!-- content  -->
  <div class="p-4">
    <ng-content></ng-content>
  </div>
</div>
