.image {
    mask-image: url(/lineart/hamster.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 150%;
    transform: rotate(90deg);
    @apply bg-orange opacity-30 absolute w-[100vh] h-[100vw] overflow-visible
}