<div id="wrapper" class="flex relative overflow-hidden w-100 h-100 items-center">

  <!-- background image -->
  <div
    class="flex flex-col gap-1 w-100 h-100 absolute z-[-1] right-[-25px] left-[-25px] top-[5px]"
  >
    <div class="flex flex-row gap-1" *ngFor="let row of rows">
      <div
        #tile
        *ngFor="let tile of row"
        class="svg {{ tile.class }}"
        [ngStyle]="{
          width: tileSize + 'px',
          height: tileSize + 'px',
          'mask-image': 'url(' + tile.src + ')'
        }"
      ></div>
    </div>
  </div>

  <!-- content  -->
  <ng-content></ng-content>
</div>

<!-- 'mask-image': 'url(' + tile.src + ')' -->
<!-- 'background-image': 'url(' + tile.src + ')' -->
<!-- right-[-{{getTileSizeHalf()}}px] -->
