<div>
  <!-- Intro -->
  <div class="container-titel-text">
    <h1 class="section-title text-red">Welkom bij<br />de Knuffelbus</h1>
    <p>
      Wij brengen knuffelbare, getrainde dieren rechtstreeks naar
      woonzorgcentra, waar ouders de kans krijgen om even te ontsnappen aan de
      dagelijkse sleur en volop te genieten van liefdevolle interacties met
      dieren. Dit is niet zomaar een activiteit - het is een kans om ouderen een
      boost in welzijn te geven
    </p>
    <div class="flex justify-center my-5 overflow-y-visible">
      <img src="real_images/oma_1.jpg" alt="" class="max-w-[120vw]"/>
    </div>
  </div>

  <!-- Animal slider -->
  <div class="container-titel-text">
    <h1 class="section-title text-red !-mb-8 text-right">Onze knuffelaars</h1>
    <app-animal-slider></app-animal-slider>
  </div>

  <!-- Slogan with background -->
  <div class="py-6">
    <app-background-pattern>
      <h1
        class="text-with-outline text-blue text-4xl mx-5 my-10"
        data-text-outline="De knuffelbus komt eraan!!"
      >
        De <br />knuffelbus <br />komt eraan!!
      </h1>
    </app-background-pattern>
  </div>

  <!-- The story -->
  <div class="container-titel-text">
    <h1 class="section-title text-red">Het verhaal<br />van de Knuffelbus</h1>
    <p>
      De missie van de Knuffelbus is om geluksmomenten te creëren voor ouderen,
      vooral diegenen die zich eenzaam voelen. Door getrainde, knuffelbare
      dieren naar woonzorgcentra te brengen, streven we ernaar ouderen een
      waardevolle afleiding te bieden en hun emotioneel welzijn te versterken.
      Elke sessie is gericht op het bieden van troost, het doorbreken van
      isolatie, en het stimuleren van warmte en vreugde. We geloven dat het
      eenvoudige plezier van een knuffel met een dier kan bijdragen aan een
      gezonder en gelukkiger leven, vooral voor hen die het hardst nodig hebben.
    </p>
    <div class="flex justify-center my-5 overflow-y-visible">
      <img src="real_images/oma_2.jpg" alt="" class="max-w-[120vw]"/>
    </div>
  </div>

  <!-- De pakketten -->
  <div>
    <div class="container-titel-text">
      <h1 class="section-title text-red">Onze Pakketten</h1>
      <p>
        De Knuffelbus biedt verschillende pakketten om ouderen de troost van een
        knuffelbare vriend te brengen. Elk bezoek biedt waardevolle
        geluksmomenten en draagt bij aan het emotioneel welzijn van onze
        ouderen.
      </p>
    </div>

    <div class="flex flex-col gap-5 mx-5 mb-6">
      <!-- Basisbezoek Pakket -->
      <app-tile>
        <h3 class="section-title text-blue">Basis pakket</h3>
        <p>Eenmalig bezoek van 3 uur</p>
        <div class="section-title text-red">€450</div>
        <p class="text-gray mb-6">
          Inclusief interactie met onze getrainde dieren voor troost en
          gezelschap.
        </p>
      </app-tile>

      <!-- 5 Sessies Pakket -->
      <app-tile>
        <h3 class="section-title">
          5 Sessies Pakket
        </h3>
        <p>Vijf basisbezoeken</p>
        <div class="section-title text-red">€2000</div>
        <p>
          Geniet van 5 sessies, waarbij ouderen extra ondersteuning en vreugde
          ontvangen.
        </p>
      </app-tile>

      <!-- 10 Sessies Pakket -->
      <app-tile>
        <h3 class="section-title">
          10 Sessies Pakket
        </h3>
        <p>Tien basisbezoeken</p>
        <div class="section-title text-red">€3750</div>
        <p>
          Ontvang 10 sessies voor een langdurige impact en regelmatige
          knuffelmomenten.
        </p>
      </app-tile>
    </div>
  </div>

</div>
