<app-header></app-header>

<app-background-pattern>
  <div class="flex flex-col px-10 py-40">
    <h1
      class="text-with-outline text-blue text-5xl"
      data-text-outline="Work in progress..."
    >
      Work in progress...
    </h1>
  </div>
</app-background-pattern>

<app-animal-slider></app-animal-slider>

<app-background-pattern>
  <div class="flex flex-col px-10 py-40">
    <h1
      class="text-with-outline text-blue text-5xl"
      data-text-outline="De knuffelbus komt eraan!!"
    >
      De knuffelbus komt eraan!!
    </h1>
  </div>
</app-background-pattern>

<div class="h-[500px]">
</div>
